@model StringCoder_ASP.NET_MVC.Models.FormData
@using StringCoder_ASP.NET_MVC.Controllers
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        @using (Html.BeginForm("EncodeText", "Home", FormMethod.Post))
        {
            @Html.Label("Input your text:") <br />
            @Html.TextArea("YourText") <br />
            @Html.Label("Your encoded text:") <br />
            @Html.TextAreaFor(e => e.EncodedText, ViewBag.EncText as string) <br />
            @Html.Label("Your decoded text:") <br />
            @Html.TextAreaFor(d => d.DecodedText) <br />
            <div id="buttonEncode">
                <input id="button" type="submit" value="Encode" formaction="@Url.Action("EncodeText", "Home")" /> <br />
            </div>
            <div id="buttonDecode">
                <input id="button" type="submit" value="Decode" formaction="@Url.Action("DecodeText", "Home")" /> <br />
            </div>
            <div>@Html.Label("Select a cipher:", null, new { @id = "labelCipher" })</div>
            <div>@Html.DropDownList("Ciphers", ViewBag.Ciphers as SelectList, null, new { @id = "dropdownlistCipher" })</div>
            <div>@Html.Label("Enter a key:", null, new { @id = "labelKey" })</div>
            <div>@Html.TextBox("tbkey", null, new { @id = "tbkey" })</div>
        }
    </div>
</div>
